/* ======CSS of Index MGM Page==========*/
/*.mhead{

    background: rgb(255,166,32);
background: linear-gradient(95deg, rgba(255,166,32,0.9613095238095238) 3%, rgba(32,118,255,1) 32%, rgba(0,82,255,1) 69%, rgba(255,252,0,1) 99%);}
*/
.ind_crsl{
height: 900px;!important
}
.hlist{
    list-style-type: none;
    text-align: center;
    
}
.mqnews {
  display: inline-block;
  cursor: pointer;
}
.hov-li
{
  list-style-type: none;!important
  text-decoration: none;
  
}

.hov-li :hover
{
  list-style-type: none;
  color: black;
  background-color:rgb(188, 205, 255);
}
.icon-link{
  color: black;
  list-style-type: none;
  padding-left: 20px;
  text-decoration: none;
}
/* ragg
{
  background-image: url(../img/Say-no-to-Ragging.gif);
  image-resolution: 25%;
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
  background-size: contain;  
} */
/* ======CSS of About MGM Page==========*/
.cntrtxt{
text-align: center;
}
.mrgn{
  margin-left: 22px;
}
.icon-link.link-hover{
  padding-left: 20px;
  margin-top: 5px;
}
/* css of Sports and achievements*/
.res_table{
  overflow-x: scroll;
}
.y-img
{
  overflow-y: scroll; 
  height: 380px;
}

.leaflet{

}
